/* ---- General Styles ----*/
body {
background-color: #547D9C;
  font-family: "Courier New", sans-serif;
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 22px;
}

h1 {
  font-size: 50px;
  font-family: "Papyrus", Serif;
  height: 25px;
}

li {
  text-align: left;
}

h2 {
  font-family: monospace;
  font-size: 30px;
  height: 15px;
}

/* ---- class changes ----*/

.style1 {
  color: #c5e1f3;
  
}

.larger {
  font-size: 20px;
}

.toright {
  text-align: right;
}

/* ---- Elements ---- */

img, iframe {
  width: 35%;
  border-radius: 30px;
  border: 1px solid #000000;
  margin: 5px;
  padding: 3px;
}

a:link { color: #c5e1f3; }
a:visited { color: #c5e1f3; }
a:hover { color: #003f69; }
a:active { color: #003f69; }
a:hover {
	text-decoration: underline;	
}